<!DOCTYPE html>
<html>
  <head>
    <title>TeachersApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>

    <ul class="nav">
      <li class="nav-item">
        <%= link_to('Courses', courses_path, class: "nav-link") %>
      </li>

      <li class="nav-item">
        <div class='nav-link' id='something' data-turbo-permanent data-controller='counter' data-action='click->counter#increment'>
          0
        </div>
      </li>

    </ul>

    <%= yield %>
  </body>
</html>
